// Utilities


// *** Google Fonts ***

$font-hubballi: 'Hubballi', cursive;
$font-quicksand: 'Quicksand', sans-serif;
$font-raleway: 'Raleway', sans-serif;

// *** Colors ***

$color-primary: #000;
$color-secondary: #eb6a05;

// *** Box Shadow ***
$box-shadow-card: 1px 5px 10px #999;
$box-shadow-divider: 1px 2px 20px 3px #bbb;

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-family: $font-raleway;
}

.header-container {
  margin: 2rem auto 5rem;

  h2 {
    display: inline;
    font-size: 2.2rem;
    margin: 2rem 0 5rem;
    text-align: center;
    position: relative;
    font-weight: 500;
  }
  
  h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 3px;
    background: $color-secondary;
    z-index: 3;
  }
}